table {
    width: 100%;
  }
  

  .table-header{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    // font-size: 20px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // color: var($teal-palette);
    color: var(--teal-palette)
  }