<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="table-title">Akshara Portal</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
</div>
<div>
    <app-table-view></app-table-view>
</div>